* {
  margin: 0;
  padding: 0;
}

#ProjectList {
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  flex-wrap: wrap;
  text-align: center;
  border: red solid 1px;
}
.ProjectList {
}
.ListProject{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: nowrap;
  width: 100%;
  border: blue solid 1px;
  padding-top: 25px;
}
.ListProjectInformation{
  flex-basic: 1;
  top: 0;
  bottom: 0;
  max-width: 50%;
  min-width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  border: green solid 1px;
}
.ListProjectImage{
}
.ProjectTechnologies{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
  border: gold solid 1px;
}
.TechDescriptionBox{
  background-color: white;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  padding: 25px;
  border-radius: 25px;
}

/* @MEDIA QUERIES */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .ListProject{
    flex-wrap: wrap;
    height: 375px;
  }
  .ListImages{
    height: 25%;
    width: auto;
  }
  .ProjectName{
    font-size: 1em;
  }
  .ProjectGithub{
    font-size: 0.5em;
  }
  .ProjectUrl{
    font-size: 0.5em;
  }
  .ProjectDescription{
    font-size: 0.3em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .TechImages{
    flex-basic: 1;
    padding-left: 1px;
    padding-right: 1px;
    width: 30px;
    height: 30px;
  }
  .ListProjectImage{
    flex-basic: 1;
    padding-top: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .ListProject{
    flex-wrap: wrap;
    height: 475px;
  }
  .ListImages{
    height: 35%;
    width: auto;
  }
  .ProjectName{
    font-size: 1em;
  }
  .ProjectGithub{
    font-size: 0.5em;
  }
  .ProjectUrl{
    font-size: 0.5em;
  }
  .ProjectDescription{
    font-size: 0.3em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .TechImages{
    flex-basic: 1;
    padding-left: 2px;
    padding-right: 2px;
    width: 30px;
    height: 30px;
  }
  .ListProjectImage{
    flex-basic: 1;
    padding-top: 10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .ListProject{
    flex-wrap: nowrap;
    height: 300px;
  }
  .ListImages{
    height: 100%;
    width: auto;
  }
  .ProjectName{
    font-size: 2em;
  }
  .ProjectGithub{
    font-size: 1em;
  }
  .ProjectUrl{
    font-size: 1em;
  }
  .ProjectDescription{
    font-size: 0.6em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .TechImages{
    flex-basic: 1;
    padding-left: 2px;
    padding-right: 2px;
    width: 45px;
    height: 45px;
  }
  .ListProjectImage{
    flex-basic: 1;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .ListProject{
    flex-wrap: nowrap;
    height: 325px;
  }
  .ListImages{
    height: 100%;
    width: auto;
  }
  .ProjectName{
    font-size: 3em;
  }
  .ProjectGithub{
    font-size: 1.5em;
  }
  .ProjectUrl{
    font-size: 1.5em;
  }
  .ProjectDescription{
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .TechImages{
    flex-basic: 1;
    padding-left: 3px;
    padding-right: 3px;
    width: 55px;
    height: 55px;
  }
  .ListProjectImage{
    flex-basic: 1;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .ListProject{
    flex-wrap: nowrap;
    height: 400px;
  }
  .ListImages{
    height: 100%;
  }
  .ProjectName{
    font-size: 3.2em;
  }
  .ProjectGithub{
    font-size: 1.3em;
  }
  .ProjectUrl{
    font-size: 1.3em;
  }
  .ProjectDescription{
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .TechImages{
    flex-basic: 1;
    padding-left: 10px;
    padding-right: 10px;
    width: 75px;
    height: 75px;
  }
  .ListProjectImage{
    flex-basic: 1;
  }
}
