* {
  margin: 0;
  padding: 0;
}

#ProjectList {
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  flex-wrap: wrap;
  text-align: center;
  border: red solid 1px;
}
.ProjectList {
}
.ListProject{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: nowrap;
  height: 300px;
  width: 100%;
  border: blue solid 1px;
  padding: 25px;
}
.ListProjectInformation{
  flex-basic: 1;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  border: green solid 1px;
}




/* @MEDIA QUERIES */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .ListProject{
    flex-wrap: wrap;
  }
  .ListImages{
    height: 25%;
    width: auto;
  }
  .ProjectName{
    font-size: 1em;
  }
  .ProjectGithub{
    font-size: 0.5em;
  }
  .ProjectUrl{
    font-size: 0.5em;
  }
  .ProjectDescription{
    font-size: 0.3em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ListProjectImage{
    flex-basic: 1;
    padding-top: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .ListProject{
    flex-wrap: wrap;
  }
  .ListImages{
    height: 35%;
    width: auto;
  }
  .ProjectName{
    font-size: 1em;
  }
  .ProjectGithub{
    font-size: 0.5em;
  }
  .ProjectUrl{
    font-size: 0.5em;
  }
  .ProjectDescription{
    font-size: 0.3em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ListProjectImage{
    flex-basic: 1;
    padding-top: 10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .ListProject{
    flex-wrap: nowrap;
  }
  .ListImages{
    height: 100%;
    width: auto;
  }
  .ProjectName{
    font-size: 2em;
  }
  .ProjectGithub{
    font-size: 1em;
  }
  .ProjectUrl{
    font-size: 1em;
  }
  .ProjectDescription{
    font-size: 0.6em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ListProjectImage{
    flex-basic: 1;
    padding-left: 50px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .ListProject{
    flex-wrap: nowrap;
  }
  .ListImages{
    height: 100%;
    width: auto;
  }
  .ProjectName{
    font-size: 3em;
  }
  .ProjectGithub{
    font-size: 1.5em;
  }
  .ProjectUrl{
    font-size: 1.5em;
  }
  .ProjectDescription{
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ListProjectImage{
    flex-basic: 1;
    padding-left: 50px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .ListProject{
    flex-wrap: nowrap;
  }
  .ListImages{
    height: 100%;
    width: auto;
  }
  .ProjectName{
    font-size: 4em;
  }
  .ProjectGithub{
    font-size: 2em;
  }
  .ProjectUrl{
    font-size: 2em;
  }
  .ProjectDescription{
    font-size: 1.3em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ListProjectImage{
    flex-basic: 1;
    padding-left: 50px;
  }
}
