/* Color Palette provided in App.css */

* {
  margin: 0;
  padding: 0;
  transition:all .2s linear;
  -o-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -webkit-transition:all .2s linear;
}

/*
  A Wrapper contains ALL subsequent containers and is only used once.
  A Container holds each section.
  A Section holds one part of a flexbox within a containr
*/

/*==========  Mobile First Method  ==========*/

#Navigation-wrapper {
  background: rgb(200, 54, 54); /* Fallback for older browsers */
  background: rgba(200, 54, 54, 0.5);
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
  font-family: 'Merriweather', serif;

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-wrap: nowrap;
  text-align: center;
}
#Navigation-logo {
}
#Nav-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
#Navigation-title {
}
#Navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
  text-align: center;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .Navigation-container {
    margin: 0 1%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .Navigation-container {
    margin: 0 5%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .Navigation-container {
    margin: 0 10%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .Navigation-container {
    margin: 0 12%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .Navigation-container {
    margin: 0 15%;
  }
}
