/* Color Palette provided in App.css */

* {
  margin: 0;
  padding: 0;
}

body {
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  body {
    background-color: red;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  body {
    background-color: blue;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  body {
    background-color: green;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    background-color: yellow;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  body {
    background-color: purple;
  }
}
