* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Color Palette provided to all other .css */
:root {
  --Gunmetal: #2B2D42;
  --GrayBlue: #8D99AE;
  --AntiFlashWhite: #EDF2F4;
  --Khaki: #CCAD8F;
  --Lust: #E2161A;
  --Footer: #383838;
  --Highlightes: #428bca;
  --Backdrops: #7bb1e0;
}
