* {
  margin: 0;
  padding: 0;
}

/* Color Palette provided to all other .css */
:root {
  --Gunmetal: #2B2D42;
  --GrayBlue: #8D99AE;
  --AntiFlashWhite: #EDF2F4;
  --Khaki: #CCAD8F;
  --Lust: #E2161A;
  --Footer: #383838;
  --Highlightes: #428bca;
  --Backdrops: #7bb1e0;
}

#App-wrapper {
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  margin-top: 30px;
}
#App-screen-container {
 display: flex;
 justify-content: center;
 flex-wrap: nowrap;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  body {
    background-color: red;
  }
  #App-screen-img {
    width: 200px;
    height: 100px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  body {
    background-color: blue;
  }
  #App-screen-img {
    width: 400px;
    height: 200px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  body {
    background-color: green;
  }
  #App-screen-img {
    width: 600px;
    height: 300px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    background-color: yellow;
  }
  #App-screen-img {
    width: 800px;
    height: 400px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  body {
    background-color: purple;
  }
  #App-screen-img {
    width: 1000px;
    height: 500px;
  }
}
