* {
  margin: 0;
  padding: 0;
}

#Blank {
  min-height: 100vh; /* Allows the footer to exist in the proper place */
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  border: red solid 1px;
}
